body {
  background-color: #24292e;
  color: white;
}
header {
  margin: 150px 0 50px 0;
  font-size: 30px;
  text-align: center;
  user-select: none;
}
section {
  width: 500px;
  margin: 0 auto;
  background-color: gray;
}
.todo-form input {
  width: 100%;
  height: 33px;
  line-height: 33px;
  padding: 0 10px;
  border: 0;
  outline: none;
}
.todo-ul {
  width: 100%;
  overflow: auto;
}
.todo-ul li {
  position: relative;
  height: 33px;
  line-height: 33px;
}
.todo-ul li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  padding-left: 27px;
  padding-top: 2px;
  overflow: hidden;
  white-space: nowrap;
}
.del-btn {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1.5px solid black;
  border-radius: 15px;
  background: none;
  cursor: pointer;
}
.del-btn:hover {
  background: black;
}
footer {
  height: 150px;
}
